@page
@inject Microsoft.Extensions.Configuration.IConfiguration configuration;

<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-8">
        <h3>You should be able to see this secret with the appropriate subscription</h3>
        Secret: @configuration["TestSecret"]
    </div>
    <div class="col-md-2">
        
    </div>
</div>
